* {
  box-sizing: border-box;
  /* max-height: 100%; */
}
html {
  /* width: 80%;
  margin: 0 auto; */
}
body {
  font-family: sans-serif;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% auto 60px;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

header,
main,
footer {
  text-align: center;
  clear: both;
}

/* original 1080x360 */
header {
  /* background: url("images/springHeader.jpeg"); */

  background-repeat: no-repeat;
  background-size: initial;
  grid-area: header;
  resize: both;
  overflow: scroll;
  background-position: center;
  /* width: 100%; */
}

main {
  grid-area: main;
  margin: 0 auto;
}

footer {
  background: black;
  grid-area: footer;
  width: 100%;
}

a {
  width: 40px;
}

.navigation-item a:hover,
.navigation-item a:active {
  color: blue;
}

b:hover {
  font-size: 20px;
  color: blue;
}

h1 {
  justify-content: center;
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  justify-content: center;
  font-size: 2rem;
  line-height: 4rem;
}

article {
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.7em;
  font-weight: 500;
}

li.navigation-item {
  list-style: none;
  margin: 0;
  border: solid 1px blue;
  width: 80%;
  margin: 2% auto;
}

@media (min-width: 800px) {
  .navigation-list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  li.navigation-item {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    padding: 15px;
    width: auto;
    border: solid 1px blue;
    width: 80%;
    height: auto;
  }

  /* li.navigation-item {
    width: 180px;
  } */
}
